<div id="side-menu" class="side-menu">
  <ul class="side-menu__lists">

    <li class="side-menu__lists__title">{{default.sidenav.main}}</li>
    <li class="side-menu__lists__list{{#is custom_basename 'dashboard'}} active{{/is}}">
      <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard"></use>
      </svg>
      <span>{{default.sidenav.dashboard}}</span>
    </a>
  </li>
  <li class="side-menu__lists__list">
    <a href="#">
    <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ukit"></use>
    </svg>
    <span>{{default.sidenav.ui-kit}}</span>
  </a>
</li>
<li class="side-menu__lists__list">
  <a href="#">
  <svg class="svg-icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#typography"></use>
  </svg>
  <span>{{default.sidenav.typography}}</span>
</a>
</li>
<li class="side-menu__lists__list">
  <a href="#">
  <svg class="svg-icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#components"></use>
  </svg>
  <span>{{default.sidenav.components}}</span>
</a>
</li>
<li class="side-menu__lists__list">
  <a href="#">
  <svg class="svg-icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icons"></use>
  </svg>
  <span>{{default.sidenav.icons}}</span>
</a>
</li>
<li class="side-menu__lists__list">
  <a href="#">
  <svg class="svg-icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#forms"></use>
  </svg>
  <span>{{default.sidenav.forms}}</span>
</a>
</li>


    <li class="side-menu__lists__title">{{default.sidenav.more}}</li>
    <li class="side-menu__lists__list">
      <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tables"></use>
      </svg>
      <span>{{default.sidenav.tables}}</span>
    </a>
    </li>
    <li class="side-menu__lists__list">
      <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#charts"></use>
      </svg>
      <span>{{default.sidenav.charts}}</span>
    </a>
    </li>
    <li class="side-menu__lists__list">
      <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#maps"></use>
      </svg>
      <span>{{default.sidenav.maps}}</span>
    </a>
    </li>
    <li class="side-menu__lists__list">
      <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mail"></use>
      </svg>
      <span>{{default.sidenav.mail}}</span>
    </a>
    </li>

    <li class="side-menu__lists__title">{{default.sidenav.extras}}</li>
    <li class="side-menu__lists__list">
      <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pages"></use>
      </svg>
      <span>{{default.sidenav.pages}}</span>
    </a>
    </li>
    <li class="side-menu__lists__list">
      <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#extras"></use>
      </svg>
      <span>{{default.sidenav.additional}}</span>
    </a>
    </li>
    <li class="side-menu__lists__list">
      <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#multilvl"></use>
      </svg>
      <span>{{default.sidenav.multi-level}}</span>
    </a>
    </li>
  </ul>
</div>
